h1 {
    font-family: Helvetica;
    text-align: center;
}

img {
    width: 100px;
}

div {
    margin: auto;
    width: 2000px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 5px solid black;
}

div img {
    margin: 5px;
}
