/* Figure out 5 or more DIFFERENT ways to fill in the blank 
   to produce the desired output */

_________ {
    font-family: Helvetica;
    font-size: 300%;
    color: #ffd63e;
    text-align: center;
}

/* Record your solutions here:
   #1 - Using a descendant selector
   div h1 {
    font-family: Helvetica;
    font-size: 300%;
    color: #ffd63e;
    text-align: center;
}


   #2 - using an id selector
    #unique {
    font-family: Helvetica;
    font-size: 300%;
    color: #ffd63e;
    text-align: center;
}

   #3 - Using a tag selector
    h1 {
    font-family: Helvetica;
    font-size: 300%;
    color: #ffd63e;
    text-align: center;
}

   #4 - Using an attribute selector
    [h1] {
    font-family: Helvetica;
    font-size: 300%;
    color: #ffd63e;
    text-align: center;
}

   #5 - Using a direct descendant selector
   div > h1 {
    font-family: Helvetica;
    font-size: 300%;
    color: #ffd63e;
    text-align: center;
}


   e.g. - .pika               */
