body {
    background-image: url("images/confetti.gif");
    font-family: Helvetica;
}

h1 {
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 300%;
    padding: 20px;
}

img {
    border: 5px solid #FFCB05;
    padding: 10px;
    /* Scale down all the images by a factor of 0.5 (half the size) */
    transform: scale(0.5);
}

ul {
    list-style-image: url('images/pikachu.png');
}

.the_divs {
    font-weight: bold;
}

#one {
    text-align: center;
}

#two {
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 150%;
    padding: 20px;
    display: flex; /* Use flexbox to display li elements side by side */
    flex-wrap: wrap; /* Allow wrapping to maintain a responsive layout */
    align-items: flex-start; /* Align the items (li elements) at the top */
}

#three {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
}

#yellow {
    color: #FFCB05;
}

.raichu {
    width: 100px;
    height: 100px;
}

.ash {
    width: 200px;
    height: 200px;
}

.team-rocket-image {
    width: 250px;
    height: 200px;
}
