h1 {
	font-family: Helvetica;
	text-align: center;
}

img {
	width: 100px;
}

div div {
	margin: auto;
	width: 33%;
	height: 250px;
}
#sub_div1 {
    display: flex;
    justify-content: flex-start;
}

#sub_div1 img {
    margin-right: 10px;
}


#big_div {
	border: 5px solid black;
}



#big_div {
    display: flex;
    justify-content: space-between;
    border: 5px solid black;
}

#sub_div1,
#sub_div2,
#sub_div3 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex: 1;
    padding: 10px;
}

#sub_div2 {
    align-items: center;
}

#sub_div3 {
    align-items: flex-end;
}

img {
    width: 100px;
    margin: 5px;
}
